<a href="https://colab.research.google.com/github/RizetteSayo/CpE0332.1-1-Elective-3/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [40]:
x = 3
y = 2
if x > y:
  print("Five is greater than two")

Five is greater than two

Python Comment

In [7]:
print("Hello World") #This is a python comment

Hello World

Python Variable

In [19]:
z = 1
z,s = 0,-1
z,s,t=8,9,10
z
s
t

10

Casting

In [22]:
b = "Sally" #This is a string
b = float(4)
b

4.0

Type() function

In [23]:
print(type(b))

<class 'float'>

Double Quotes and Single Quotes

In [25]:
w = "Ana"
print(w)
q = 'Ana'
print(q)

Ana
Ana

Case Sensitive

In [28]:
a = int(4)
A = "Sally"
a
A

'Sally'

Multiple Variables

In [29]:
h, i,j= "one",'two',"three"
print(h)
print(i)
print(j)

one
two
three

Multiple Variables with Single Value

In [32]:
k = l = m = "four"
print(k)
print(l)
print(m)

four
four
four

Output Variable and Concatenation +

In [38]:
n = "enjoying"
p = "Python programming is"
print(p+n)

Python programming isenjoying

Arithmetic Operations

In [51]:
print(x+y)  #Addition
print(x-y)  #Subtraction
print(x*y)  #Multiplication
print(round(5/3),2)  #Division
print(x//y) #Floor Division
print(x%y)  #Modulus
print(x**y) #Exponentiation

5
1
6
2 2
1
1
9

Assignment Operator

In [52]:
x+=3  #same as x = x+3
print(x)

6

Comparison Operator

In [57]:
print(x==y)  #x=3,y=2
print(x!=y)
print(x>y)
print(x<y)

False
True
True
False

Logical Operators

In [61]:
print(x==y and x!=y) #False and True
print(x==y or x!=y) # False or True
print(not(x==y or x!=y))#negate(False or True)

False
True
False

Identity Operators

In [63]:
x is y  #x=3, y=2
x is not y

True

Bitwise Operators

In [67]:
#10 +1 = 11     ; 1010 + 0001 = 1011
print(10 | 1)

print(x>>1)   #x=3 , 011

11
3